{% extends 'base/base_totem.html' %}
{% load static %}

{% block title %}
Preencha seus dados
{% endblock %}

{% block content %}
<div class="container-fluid bg-black py-2 d-flex flex-column justify-content-center align-items-center text-white">
        <div class="text-center mb-4">
          <img src="{% static 'img/logo.png' %}" alt="Seletto" width="150" class=" mx-auto mb-2" />
          <p class="fs-1 mb-1">Sua senha</p>
          <p class="fs-5 mb-1 text-secondary">Aguarde ser chamado</p>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-center align-items-center bg-white text-black rounded-4" style="padding: 50px;">
                <h1 style="font-size: 150px;">{{ codigo }}</h1>
                <p style="font-size: 32px;" class="text-secondary">{{ tipo }}</p>
                {% if tipo_locacao %}
                    <p style="font-size: 18px;" class="text-secondary mt-2">
                        {% if tipo_locacao == 'locacao_noivo' %}Locação Noivo
                        {% elif tipo_locacao == 'locacao_terno' %}Locação Terno
                        {% elif tipo_locacao == 'locacao_infantil' %}Locação Infantil
                        {% else %}{{ tipo_locacao }}{% endif %}
                    </p>
                {% endif %}
            </div>
            <div class="d-flex flex-column align-items-center mt-4">
                
                <div class="text-center d-flex flex-column align-items-center">
                    <p class="text-white mb-2">Escaneie para acompanhar sua posição</p>

                    <img
                        src="{% url 'gerar_qr' %}?token={{ token }}"
                        alt="QR Code"
                        class="img-fluid"
                        style="width: 320px; max-width: 100%; display: block;"
                    >
                </div>

                <a href="{% url 'totem' %}"
                id="btn-nova-senha"
                class="btn btn-dark rounded-4 text-white mt-3"
                style="padding: 16px 24px; font-size: 1.2rem;">
                    Retirar Nova Senha
                </a>

            </div>
        </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {

    let tempo = 50;

    const botao = document.getElementById('btn-nova-senha');

    function atualizarTexto() {
        botao.textContent = `Retirar Nova Senha (${tempo}s)`;
    }

    atualizarTexto(); // mostra 50s imediatamente

    const intervalo = setInterval(() => {

        tempo--;

        atualizarTexto();

        if (tempo <= 0) {
            clearInterval(intervalo);
            window.location.href = "{% url 'totem' %}";
        }

    }, 1000);

});
</script>
{% endblock %}
