{% extends 'base/base_totem.html' %}
{% load static %}

{% block title %}
Preencha seus dados
{% endblock %}

{% block content %}
<div class="container-fluid bg-black min-vh-100 py-5 d-flex flex-column justify-content-center align-items-center text-white">
        <div class="text-center mb-4">
          <img src="{% static 'img/logo.png' %}" alt="Seletto" width="150" class=" mx-auto mb-2" />
          <p class="fs-1 mb-1">Sua senha</p>
          <p class="fs-5 mb-1 text-secondary">Aguarde ser chamado</p>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-center align-items-center bg-white text-black rounded-4" style="padding: 50px;">
                <h1 style="font-size: 150px;">PR002</h1>
                <p style="font-size: 32px;" class="text-secondary">{{tipo}}</p>
            </div>
            <div class="d-grid gap-3 mt-4 flex ">
                <button type="submit" class="btn btn-light btn-lg rounded-4 py-3 fs-5">
                    Ver Minha Posição na Fila
                </button>

                <a href="{% url 'totem' %}" class="btn btn-dark btn-lg rounded-4 py-3 fs-5 text-white">
                    Retirar Nova Senha
                </a>
            </div>
        </div>
</div>
{% endblock %}
