{% extends 'base/base_display.html' %}
{% load static %}

{% block title %}
Display
{% endblock %}

{% block content %}
<div class="container-fluid bg-black min-vh-100 py-5 d-flex flex-column justify-content-center align-items-center text-white">

    <div class="text-center mb-2">
        <img src="{% static 'img/logo.png' %}" alt="Seletto" width="150" class="mx-auto mb-2"/>

        <p class="fs-2 mb-1">
            Atendimento
        </p>
    </div>

    <div
        hx-get="{% url 'display_partial' %}"
        hx-trigger="load, every 3s"
        hx-target="this"
        hx-swap="innerHTML">

        {% include 'partials/display_content.html' %}

    </div>

</div>
{% endblock %}