{% if senha_atual %}
    <div class="bg-white text-black py-4 px-4 rounded-4 mb-4">
        <h1 class="fs-3">Atendimento atual</h1>

        <div class="row g-4">

            <div class="col-6">
                <div class="d-flex flex-column gap-2">
                    <div class="d-flex gap-2">
                        <h1 class="p-0" style="font-size: 5em;">
                            {{ senha_atual.codigo }}
                        </h1>

                        <div class="mt-4">
                            <p>{{ senha_atual.categoria.nome }}</p>
                        </div>
                    </div>

                    <div>
                        <p>Atendente: {{ senha_atual.atendente|default:"-" }}</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="rounded-4 py-3 px-4" style="background-color: rgb(245,245,245);">

                    <p><i class="bi bi-person"></i> Dados Do Cliente</p>

                    <div class="mt-2">
                        <div>
                            <span>Nome:</span>
                            <p>{{ senha_atual.cliente_nome }}</p>
                        </div>

                        <div>
                            <span>Email:</span>
                            <p>{{ senha_atual.cliente_email|default:"-" }}</p>
                        </div>

                        <div>
                            <span>Telefone:</span>
                            <p>{{ senha_atual.cliente_telefone|default:"-" }}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {% else %}
        <p class="text-secondary mb-4">Nenhum atendimento em andamento</p>
    {% endif %}