{% extends 'base/base_admin.html' %}

{% block title %}
Atendidos
{% endblock %}

{% block content %}

<div class="pt-4 text-white" style="padding: 0 8em;">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h1>Atendimentos Finalizados</h1>

            <p class="text-secondary mb-0">
                Histórico de senhas atendidas
            </p>
        </div>

        <a href="{% url 'adminSeletto' %}"
           class="btn btn-light rounded-4 px-4">
            Voltar
        </a>

    </div>

    <!-- FILTROS -->
    <div class="row g-3 mb-4">

        <!-- PESQUISA -->
        <div class="col-md-3">
            
            <input type="text"
                id="pesquisaAtendidos"
                placeholder="Pesquisar por nome, telefone, email ou senha..."
                class="form-control rounded-4 py-3 px-4 border-0 text-white"
                style="
                        background-color: rgb(23,23,23);
                        font-size: 1rem;
                ">

        </div>

        <!-- FILTRO TIPO -->
        <div class="col-md-3">

            <select id="filtroCategoria"
                    class="form-select rounded-4 py-3 px-4 border-0 text-white"
                    style="
                        background-color: rgb(23,23,23);
                        font-size: 1rem;
                    ">

                <option value="">
                    Tipo de senha
                </option>

                {% regroup atendidos by categoria.nome as categorias %}

                {% for categoria in categorias %}

                    <option value="{{ categoria.grouper }}">
                        {{ categoria.grouper }}
                    </option>

                {% endfor %}

            </select>

        </div>

        <!-- FILTRO DATA -->
        <div class="col-md-3">

            <div class="position-relative">

                <i class="bi bi-calendar-event position-absolute"
                style="
                        left: 18px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 10;
                        color: rgb(180,180,180);
                "></i>

                <input type="date"
                    id="filtroData"
                    class="form-control rounded-4 py-3 ps-5 pe-4 border-0 text-white"
                    style="
                            background-color: rgb(23,23,23);
                            font-size: 1rem;
                            color-scheme: dark;
                    ">

            </div>

        </div>

        <!-- FILTRO STATUS DA VENDA -->
        <div class="col-md-3">

            <select id="filtroVenda"
                    class="form-select rounded-4 py-3 px-4 border-0 text-white"
                    style="
                        background-color: rgb(23,23,23);
                        font-size: 1rem;
                    ">

                <option value="">
                    Status da venda
                </option>

                <option value="FECHOU">
                    Venda Realizada
                </option>

                <option value="NAO_FECHOU">
                    Venda Não Realizada
                </option>

            </select>

        </div>

    </div>
    {% if atendidos %}

        <div class="d-flex flex-column gap-3">

            {% for senha in atendidos %}

            <div class="card-atendimento mt-3"
                data-categoria="{{ senha.categoria.nome }}"
                data-data="{{ senha.finalizado_em|date:'Y-m-d' }}"
                data-status="{{ senha.observacao.status|default:'' }}">

                <!-- CARD -->
                    <div class="bg-white text-black rounded-4 p-4 position-relative"
                        style="
                            cursor: pointer;
                            transition: 0.2s ease;
                        "
                        onclick="toggleDetalhes('detalhes-{{ senha.id }}', this)"
                        onmouseover="
                            this.style.transform='translateY(-2px)';
                        "
                        onmouseout="
                            this.style.transform='translateY(0)';
                        ">

                        <!-- BOTÃO EXCLUIR -->
                        <form method="POST"
                            action="{% url 'excluir_atendido' senha.id %}"
                            style="
                                    position: absolute;
                                    top: 18px;
                                    right: 18px;
                                    z-index: 20;
                            "
                            onclick="event.stopPropagation();"
                            onsubmit="return confirm('Deseja excluir este atendimento?');">

                            {% csrf_token %}

                            <button type="submit"
                                class="btn btn-sm rounded-3"
                                style="
                                    background-color: #d9d9d9;
                                    border: none;
                                    color: #222;
                                    transition: 0.2s ease;
                                "
                                onmouseover="
                                    this.style.backgroundColor='#dc3545';
                                    this.style.color='white';
                                "
                                onmouseout="
                                    this.style.backgroundColor='#d9d9d9';
                                    this.style.color='#222';
                                ">

                                <i class="bi bi-trash"></i>

                            </button>

                        </form>

                        <div class="row align-items-center">

                            <div class="col-md-2">

                                <h2 class="mb-0">
                                    {{ senha.codigo }}
                                </h2>

                            </div>

                            <div class="col-md-2">

                                <p class="mb-1 text-secondary">
                                    Categoria
                                </p>

                                <p class="mb-0">
                                    {{ senha.categoria.nome }}
                                </p>

                            </div>

                            <div class="col-md-2">

                                <p class="mb-1 text-secondary">
                                    Cliente
                                </p>

                                <p class="mb-0 nome-cliente">
                                    {{ senha.cliente_nome }}
                                </p>

                            </div>

                            <div class="col-md-3">

                                <p class="mb-1 text-secondary">
                                    Atendente
                                </p>

                                <p class="mb-0">
                                    {{ senha.atendente|default:"-" }}
                                </p>

                            </div>

                            <div class="col-md-3">

                                <p class="mb-1 text-secondary">
                                    Finalizado em
                                </p>

                                <p class="mb-0">
                                    {{ senha.finalizado_em|date:"d/m/Y H:i" }}
                                </p>

                            </div>

                        </div>

                    </div>

                <!-- DETALHES -->
                <div id="detalhes-{{ senha.id }}"
                     class="mt-2 rounded-4 p-4"
                     style="
                        background-color: rgb(80, 80, 80);
                        display: none;
                     ">

                    <div class="row g-4 mb-4">

                        <div class="col-md-4">

                            <p class="text-white mb-1">
                                Nome:
                            </p>

                            <p class="mb-0">
                                {{ senha.cliente_nome }}
                            </p>

                        </div>

                        <div class="col-md-4">

                            <p class="text-white mb-1">
                                Email:
                            </p>

                            <p class="mb-0">
                                {{ senha.cliente_email|default:"-" }}
                            </p>

                        </div>

                        <div class="col-md-4">

                            <p class="text-white mb-1">
                                Telefone:
                            </p>

                            <p class="mb-0">
                                {{ senha.cliente_telefone }}
                            </p>

                        </div>

                    </div>

                    <!-- OBSERVAÇÕES DO ATENDIMENTO -->
                    {% if senha.observacao %}
                    <hr style="border-color: rgb(100, 100, 100); margin: 2rem 0;">
                    
                    <div>
                        <h5 class="text-white mb-3">Observações do Atendimento</h5>
                        
                        {% if senha.observacao.status == 'FECHOU' %}
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Status:</strong></p>
                                    <p class="mb-2">✓ Venda Fechada</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Tipo de Evento:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.get_tipo_evento_display }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Data do Evento:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.data_evento|date:"d/m/Y"|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Cidade:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.cidade|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Local:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.local|default:"-" }}</p>
                                </div>

                                {% if senha.observacao.tipo_evento == 'CASAMENTO' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Noivos:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.nomes_noivos|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Contato dos Noivos:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.contato_noivos|default:"-" }}</p>
                                    </div>
                                {% elif senha.observacao.tipo_evento == 'FORMATURA' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Universidade:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.universidade|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Curso:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.curso|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Contato do Formando:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.contato_formando|default:"-" }}</p>
                                    </div>
                                {% elif senha.observacao.tipo_evento == 'ANIVERSARIO' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Nome do Aniversariante:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.nome_aniversariante|default:"-" }}</p>
                                    </div>
                                {% elif senha.observacao.tipo_evento == 'OUTRO' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Tipo de Evento:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.tipo_evento_outro|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Nome do Cliente:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.nome_cliente_observacao|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-12">
                                        <p class="text-white mb-1"><strong>Descrição:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.descricao|default:"-"|linebreaks }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        
                        {% elif senha.observacao.status == 'NAO_FECHOU' %}
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Status:</strong></p>
                                    <p class="mb-2">✗ Venda Não Fechada</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Motivo do Não Fechamento:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.motivo_nao_fechamento|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Motivo do Impedimento:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.motivo_impedimento|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Tipo de Evento (Futuro):</strong></p>
                                    <p class="mb-2">{{ senha.observacao.get_tipo_evento_display }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Data Prevista do Evento:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.data_evento|date:"d/m/Y"|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Cidade:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.cidade|default:"-" }}</p>
                                </div>

                                <div class="col-md-6">
                                    <p class="text-white mb-1"><strong>Local:</strong></p>
                                    <p class="mb-2">{{ senha.observacao.local|default:"-" }}</p>
                                </div>

                                {% if senha.observacao.tipo_evento == 'CASAMENTO' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Noivos:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.nomes_noivos|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Contato dos Noivos:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.contato_noivos|default:"-" }}</p>
                                    </div>
                                {% elif senha.observacao.tipo_evento == 'FORMATURA' %}
                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Universidade:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.universidade|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Curso:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.curso|default:"-" }}</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="text-white mb-1"><strong>Contato do Formando:</strong></p>
                                        <p class="mb-2">{{ senha.observacao.contato_formando|default:"-" }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}

                <!-- DADOS OCULTOS PARA PESQUISA -->
                <div class="dados-pesquisa d-none">
                    {{ senha.codigo }}
                    {{ senha.cliente_nome }}
                    {{ senha.cliente_email }}
                    {{ senha.cliente_telefone }}
                </div>

            </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="bg-dark rounded-4 p-5 text-center">

            <h3>
                Nenhum atendimento finalizado
            </h3>

        </div>

    {% endif %}

</div>

<script>

function toggleDetalhes(id) {

    const detalhes = document.getElementById(id);

    if (detalhes.style.display === 'none') {

        detalhes.style.display = 'block';

    } else {

        detalhes.style.display = 'none';

    }

}

const pesquisa = document.getElementById('pesquisaAtendidos');

const filtroCategoria = document.getElementById('filtroCategoria');

const filtroData = document.getElementById('filtroData');

const filtroVenda = document.getElementById('filtroVenda');

function aplicarFiltros() {

    const termo = pesquisa.value.toLowerCase();

    const categoria = filtroCategoria.value.toLowerCase();

    const data = filtroData.value;

    const statusVenda = filtroVenda.value;

    const cards = document.querySelectorAll('.card-atendimento');

    cards.forEach(card => {

        const texto = card
            .querySelector('.dados-pesquisa')
            .innerText
            .toLowerCase();

        const categoriaCard = card.dataset.categoria.toLowerCase();

        const dataCard = card.dataset.data;

        const statusCard = card.dataset.status;

        const batePesquisa = texto.includes(termo);

        const bateCategoria = !categoria || categoriaCard === categoria;

        const bateData = !data || dataCard === data;

        const bateStatus = !statusVenda || statusCard === statusVenda;

        if (batePesquisa && bateCategoria && bateData && bateStatus) {

            card.style.display = 'block';

        } else {

            card.style.display = 'none';

        }

    });

}

pesquisa.addEventListener('keyup', aplicarFiltros);

filtroCategoria.addEventListener('change', aplicarFiltros);

filtroData.addEventListener('change', aplicarFiltros);

filtroVenda.addEventListener('change', aplicarFiltros);

</script>

<style>

#pesquisaAtendidos::placeholder {
    color: rgb(148, 148, 148);
    opacity: 1;
}

</style>
{% endblock %}